@model IEnumerable<AndrewApp.Models.Project>

@{
    ViewData["Title"] = "Projekty";
}

<input class="btn btn-primary" type="button" value="Wyloguj" id="submit" onclick="logout()" style=" float: right;" />

<script>
    function logout() {
        sessionStorage.clear();
        window.location = "/"; // Redirecting to other page.
    }</script>

<h1>Projekty</h1>

<p>
    <a asp-action="Create">Utwórz nowy</a>
</p>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Wyszukaj..." title="Type in a name" style=" float: right;">
<select id="mySelect" style=" float: right; height:30px;">
    <option>Projekt</option>
    <option>Limit uczestników</option>
    <option>Przedmiot</option>
</select>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendantLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendantLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        //zajmuje sie decydowanie w przydaku

        tr = table.getElementsByTagName("tr");
        select = document.getElementById("mySelect").addEventListener('change',
            function () {
                input.value = "";
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[x];
                    tr[i].style.display = "";
                }
            });
        //input.setText("");
        var x = document.getElementById(
            "mySelect").selectedIndex;

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[x];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }



</script>
