@model AndrewApp.Models.Class

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Przedmioty</h1>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
